body {
    background-color: blanchedalmond;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.post-container{
    width: 75%; 
    height: 75%;
    margin-left:100px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: xx-large;
}

.author{
    font-size: larger;
}